body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

.nav-bar {
  height: 7.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}
.nav-bar__nav-image {
  height: 5rem;
  width: auto;
}
.nav-bar__bottom-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 2.5rem;
  background-color: #403f3f;
  color: white;
}
.nav-bar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
  height: 100%;
  list-style: none;
}
.nav-bar__list-item {
  text-align: center;
}
.nav-bar__nav-link {
  text-decoration: none;
  margin-left: 1rem;
  margin-right: 1rem;
  color: inherit;
}
.nav-bar__nav-link:hover {
  color: #f2b60f;
}

.main-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-width: 1px;
  border-color: red;
  border-style: solid;
  width: 100%;
  height: 30rem;
  background-image: url(../../images/Background_img_1.webp);
  background-color: #403f3f;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}