body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

.nav-bar {
  height: 7.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}
.nav-bar__nav-image {
  height: 5rem;
  width: auto;
}
.nav-bar__bottom-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 2.5rem;
  background-color: #403f3f;
  color: white;
}
.nav-bar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
  height: 100%;
  list-style: none;
}
.nav-bar__list-item {
  text-align: center;
}
.nav-bar__nav-link {
  text-decoration: none;
  margin-left: 1rem;
  margin-right: 1rem;
  color: inherit;
}
.nav-bar__nav-link:hover {
  color: #f2b60f;
}

.main-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 30rem;
  background-image: url(https://miro.medium.com/v2/resize:fit:4800/format:webp/1*9BtkzjA9rbUgV_1_8ptt8g.jpeg);
  background-color: #403f3f;
  background-size: 100% auto;
  background-position: center;
}
.main-body__section {
  background-color: #eed202;
  color: #080700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 12rem;
  width: 60%;
  border-radius: 0.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0.95;
}
.main-body__section-icon {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}
.main-body__section-text-1 {
  margin-top: 1rem;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0rem;
  font-size: 1.1rem;
  font-weight: 700;
  text-align: center;
}
.main-body__section-text-2 {
  margin-top: 0.3rem;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 0.85rem;
  font-weight: 400;
  text-align: center;
}
.main-body__section-text-2-link {
  color: inherit;
}
.main-body__section-text-2-link:hover {
  color: #fff8ca;
}

.fa-triangle-exclamation {
  font-size: 2rem;
}