.main-body {
    @include centralize();

    width: 100%;
    height: 30rem;
    background-image: url(https://miro.medium.com/v2/resize:fit:4800/format:webp/1*9BtkzjA9rbUgV_1_8ptt8g.jpeg);
    background-color: $secondary-color;
    background-size: 100% auto;
    background-position: center;

    &__section {
        @include color-scheme($scheme-warning ...);
        @include centralize();

        height: 12rem;
        width: 60%;
        border-radius: 0.5rem;
        flex-direction: column;
        opacity: 0.95;
    }

    &__section-icon {
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }

    &__section-text-1 {
        margin-top: 1rem;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0rem;
        font-size: 1.1rem;
        font-weight: 700;
        text-align: center;
    }

    &__section-text-2 {
        margin-top: 0.3rem;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        font-size: 0.85rem;
        font-weight: 400;
        text-align: center;
    }

    &__section-text-2-link {
        color: inherit;
    }

    &__section-text-2-link:hover {
        color: $warning-font-hover;
    }
}

.fa-triangle-exclamation {
    font-size: 2rem;
}