$primary-color: red;
$secondary-color: green;
$primary-font-color: black;
$secondary-font-color: white;

$font-weight: 100 200 300 400 500 600 700 800 900;
$font-size: 0.5rem 0.75rem 1rem 1.25rem 1.5rem 1.75rem 2rem 2.25rem;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1000px;